{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% if post.pk is not None %}
    <span class="response-article">Contestando al artículo '{{post.title}}' de {{post.blog.user}}</span>
{% endif %}

<form method="post" novalidate>
    {% csrf_token %}
    <div class="form-group {% if form.title.errors %} has-danger{% endif %}">
        <label for="title">{% trans "post_new.title" %}</label>
        {{form.title}}
        <div class="form-control-feedback">{{ form.title.errors.as_text }}</div>
    </div>

    <div class="form-group {% if form.summary.errors %} has-danger{% endif %}">
        <label for="summary">{% trans "post_new.summary" %}</label>
        {{form.summary}}
        <div class="form-control-feedback">{{ form.summary.errors.as_text }}</div>
    </div>

    <div class="form-group {% if form.body.errors %} has-danger{% endif %}">
        <label for="text">{% trans "post_new.body" %}</label>
        {{form.body}}
        <div class="form-control-feedback">{{ form.body.errors.as_text }}</div>
    </div>

    <div class="form-group {% if form.url_image.errors %} has-danger{% endif %}">
        <label for="url_image">{% trans "post_new.url_image" %}</label>
        {{form.url_image}}
        <div class="form-control-feedback">{{ form.url_image.errors.as_text }}</div>
    </div>

    <div class="form-group {% if form.url_video.errors %} has-danger{% endif %}">
        <label for="url_video">{% trans "post_new.url_video" %}</label>
        {{form.url_video}}
        <div class="form-control-feedback">{{ form.url_video.errors.as_text }}</div>
    </div>

    <div class="form-group {% if form.published_date.errors %} has-danger{% endif %}">
        <label for="published_date">{% trans "post_new.published_date" %}</label>
        {{form.published_date}}
        <div class="form-control-feedback">{{ form.published_date.errors.as_text }}</div>
    </div>

    <div class="form-group {% if form.categories.errors %} has-danger{% endif %}">
        <label for="categories">{% trans "post_new.categories" %}</label>
        {{form.categories}}
        <div class="form-control-feedback">{{ form.categories.errors.as_text }}</div>
    </div>

    <button class="btn btn-primary">{% trans "post_new.button" %}</button>
</form>

{% endblock %}