{% extends 'base.html' %}
{% load i18n %}

{% block content %}


{% if error%}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}

{{ form.non_field_errors.as_text }}
<form method="post" novalidate>
    {% csrf_token %}
    <div class="form-group {% if form.username.errors %} has-danger{% endif %}">
        <label for="username">{% trans "login.user.label" %}</label>
        <input type="text" class="form-control" id="username" maxlength="20" name="username">
        <div class="form-control-feedback">{{ form.username.errors.as_text }}</div>
    </div>
    <div class="form-group {% if form.password.errors %} has-danger{% endif %}">
        <label for="password">{% trans "login.pass.label" %}</label>
        <input type="password" class="form-control" id="password" name="password">
        <div class="form-control-feedback">{{ form.password.errors.as_text }}</div>
    </div>
    <button class="btn btn-primary">{% trans "login.acceder.button" %}</button>
</form>

{% endblock %}